.c-lesPJm-iOCrvT-css{
    display: flex;
    flex-direction: column;
    max-width: 720px;
    position: relative;
    min-height: 100vh;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0px auto;
}

